body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: peachpuff;
    margin: 0 10px;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
