@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');


div h5,p{
    color: black;
}

.kartice{
    border-radius: 10px;
    border: 2px solid black;    
}
div .card img{
    height: 25vh;
}

@media only screen and (max-width: 750px) {
    dotlottie-player{
        width: 250px !important;
        height: 250px !important;
    }

}


.carousel-caption p{
    padding: 3px 6px 0px 6px;
}

dotlottie-player{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    transition: transform 1s ease, opacity .5s ease-out !important;
}

.carousel-caption{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

li a:hover::after{
    transform: scale(1);
}
