body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #c8102e;
    color: #f8f8f8;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.h2{
    color: #171010;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #f9d7d7;
    border-radius: 8px;
}
.opis{
    text-align: center;
    font-weight: bold;
    size: 3cap;
}

#logo,
#stadion,
#igralci {
    width: 50%;
    text-align: center;
    margin-top: 0%; /* Posodobljeno margin-top */
    padding: 15px;
    background-color: #b2aaaa;
    border-radius: 8px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}