body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #3b3734;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

nav ul {
    background-color: #4e4945;
    list-style: none;
    text-align: center;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

article {
    padding: 30px;
    border: 5px solid #ddd;
	background-color: #f4f4f4;
}

h2 {
    color: #333;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/*velikost ko povečas sliko*/
.image-preview img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

footer {
    background-color: #4e4945;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.read-more {
    text-decoration: none;
    color: #000000;
    display: flex;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    justify-content: center;
}

.read-more:hover {
    background-color: #4e4945;
    color: #fff;
    border-color: #fff;
}

.read-more-container {
    text-align: center;
}

article {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .read-more {
        width: 94%;
    }
}
