@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.grb {
  background-image: url("../../../images/JureKucan/Grb.png");
  height: 100px;
  width: 74px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-right: 10px;
}

.nav-link {
  color: black !important;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:hover {
  color: #387d23 !important;
  text-decoration: underline;
}

.navbar-light {
  background-color: #e0e0e0 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2856, 125, 35, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border: 1px solid #419129;
}

footer {
  background-color: #387d23;
  color: #fff;
  font-weight: bold;
  padding-top: 40px;
}

@media (max-width: 991px) {
  .grb {
    margin-bottom: 20px;
    height: 115px;
    width: 85px;
  }

  .nav-item {
    border-top: 1px #387d23 solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .nav-item-prvi {
    border-top: 0px;
  }

  .nav-item-zadnji {
    border-top: 1px #387d23 solid;
    border-bottom: 1px #387d23 solid;
  }
}

@media (max-width: 1199px) {
  .grb {
    margin-right: 0px;
  }
}

@media (min-width: 2000px) {
  .nav-link-naslov {
    font-size: 2.2em !important;
  }

  .nav-link {
    font-size: 1.2em !important;
  }

  .container {
    max-width: 70% !important;
  }

  .naslov h1 {
    font-size: 60px !important;
  }

  h3 {
    font-size: 30px !important;
  }

  .naslov-vsebina {
    font-size: 50px !important;
  }

  nav {
    font-size: 22px !important;
  }
}

/*Pozdravn stran*/

.naslovna-slika {
  background-image: url("../../../images/JureKucan/Naslovnica.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.naslov {
  font-family: "DM Serif Display", serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: khaki;
}

nav {
  font-size: 20px;
}

.razmak {
  padding-top: 100px;
  padding-bottom: 100px;
}

.naslov h1 {
  font-size: 60px;
}

.naslov h2 {
  font-size: 20px;
}

.naslov-vsebina {
  font-family: "DM Serif Display", serif;
  font-size: 2.5rem;
  color: #387d23;
  margin-bottom: 0px;
}

.splosnaPredstavitev-barva {
  background-color: #e8e8e8;
}

.dogodkiNovice-barva {
  background-color: #f0f0f0;
}

.card-body p:last-of-type {
  padding-bottom: 60px;
}

.card-title {
  font-weight: bold;
}

.btn {
  text-decoration: none;
  position: absolute;
  padding: 15px 30px;
  font-size: 1.15rem;
  margin-bottom: 20px;
  bottom: 0;
}

.btn:hover {
  background-color: #387d23;
}

.btn-outline-success {
  border-color: #387d23 !important;
}

/*Domov*/

.naslov-dejavnosti {
  font-family: "DM Serif Display", serif;
  color: #387d23;
  margin-bottom: 0px;
}

.dejavnosti-barva {
  background-color: #f0f0f0;
}

.dejavnost {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Kontakt*/

.kontakt-barva {
  background-color: #f0f0f0;
}

iframe{
  height: 600px;
  width: 100%;
  border-radius: 1.5rem 1.5rem;
}
  
.na-sredino{
  margin-top: 9em;
}