body{
    margin: 0px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}

.skatla{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.imgInf{
    display: block;
    margin-left: auto;
    margin-right: auto;
}