body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    border: 1px solid;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

.zoo-article {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
main {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px; 
}

.zoo-article {
    flex-basis: calc(25% - 10px); 
    box-sizing: border-box; 
}


@media (max-width: 800px) {
    .zoo-article {
        flex-basis: 100%; 
    }
}
